body {
  display: flex;
  gap: 5vw;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#8f9c93 8%, #5a6e5f 65%, #48544b 95%);
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #b5a7b5;
  border-radius: 10%;
  box-shadow: 0px 0px 15px 8px hsla(318, 7%, 30%, 0.5),
    inset 0px 0px 8px 3px hsla(318, 7%, 30%, 0.4);
  cursor: pointer;
}

/* LEFT STANDARD X */

.top-left {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.middle-left {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 90px;
  left: 25px;
  width: 150px;
}

.bottom-left {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 145px;
  left: 25px;
  width: 150px;
}

/* LEFT ON HOVER */

.container:hover > .top-left {
  top: 95px;
  transform: rotate(45deg);
}

.container:hover > .middle-left {
  display: none;
}

.container:hover > .bottom-left {
  top: 95px;
  transform: rotate(135deg);
}

/* MIDDLE - AN IDEA I WANTED TO TRY */

.top-middle-one {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.top-middle-two {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.top-middle-chimney {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 50px;
}

.middle-middle-one {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 90px;
  left: 25px;
  width: 150px;
}

.middle-middle-two {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 90px;
  left: 25px;
  width: 150px;
}

.middle-bottom {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 145px;
  left: 25px;
  width: 150px;
}

/* MIDDLE ON HOVER */

.container:hover > .top-middle-one {
  border-bottom: 15px solid #805b80;
  top: 60px;
  left: 12px;
  width: 110px;
  transform: rotate(135deg);
}

.container:hover > .top-middle-two {
  border-bottom: 15px solid #805b80;
  top: 60px;
  left: 80px;
  width: 110px;
  transform: rotate(45deg);
}

.container:hover > .top-middle-chimney {
  border-bottom: 15px solid #805b80;
  top: 53px;
  left: 130px;
  width: 30px;
  transform: rotate(90deg);
}

.container:hover > .middle-middle-one {
  border-bottom: 15px solid #805b80;
  top: 122px;
  left: 110px;
  width: 85px;
  transform: rotate(90deg);
}

.container:hover > .middle-middle-two {
  border-bottom: 15px solid #805b80;
  top: 122px;
  left: 6px;
  width: 85px;
  transform: rotate(90deg);
}

.container:hover > .middle-bottom {
  border-bottom: 15px solid #805b80;
  position: absolute;
  top: 157px;
  left: 50px;
  width: 100px;
}

/* RIGHT - THIS IS OS MUCH FUN I HAD TO ADD A THIRD ONE */

.top-right-one {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.top-right-two {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.top-right-three {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.top-right-one-half-left {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.top-right-two-half-left {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.top-right-three-half-left {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.top-right-one-half-right {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.top-right-two-half-right {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.top-right-three-half-right {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 35px;
  left: 25px;
  width: 150px;
}

.middle-right {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 90px;
  left: 25px;
  width: 150px;
}

.bottom-right {
  border-bottom: 20px solid #805b80;
  position: absolute;
  top: 145px;
  left: 25px;
  width: 150px;
}

.candle-flame-one,
.candle-flame-two,
.candle-flame-three,
.candle-flame-four,
.candle-flame-five,
.candle-flame-six,
.candle-flame-seven {
  background-color: #f59e42;
  box-shadow: 0px 0px 1px 1px rgba(86, 28, 11, 0.1),
    inset 0px 0px 3px 2px rgba(209, 69, 26, 0.7);
  width: 12px;
  height: 12px;
  border-radius: 0 90% 30% 90%;
  transform: rotate(45deg);
  display: none;
}

/* RIGHT ON HOVER :p)  */

.container:hover > .top-right-one {
  width: 1px;
  height: 80px;
  border-radius: 50%;
  border-bottom: 15px solid #805b80;
  top: -10px;
  left: 70px;
  width: 61px;
}

.container:hover > .top-right-two {
  width: 6px;
  height: 130px;
  border-radius: 50%;
  border-bottom: 15px solid #805b80;
  top: -35px;
  left: 50px;
  width: 100px;
}

.container:hover > .top-right-three {
  width: 1px;
  height: 190px;
  border-radius: 50%;
  border-bottom: 15px solid #805b80;
  top: -70px;
  left: 28px;
  width: 143px;
}

/* .container:hover > .top-right-one-half-left {
	border-bottom: 15px solid #805b80;
	top: 55px; 
	left: 63px;
	width: 30px;
	transform: rotate(90deg);
}

.container:hover > .top-right-two-half-left {
	border-bottom: 15px solid #805b80;
	top: 63px; 
	left: 34px;
	width: 46px;
	transform: rotate(90deg);
}

.container:hover > .top-right-three-half-left {
	border-bottom: 15px solid #805b80;
	top: 72.5px; 
	left: 3.5px;
	width: 65px;
	transform: rotate(90deg);
}

.container:hover > .top-right-one-half-right {
	border-bottom: 15px solid #805b80;
	top: 55px; 
	left: 109px;
	width: 30px;
	transform: rotate(90deg);
}

.container:hover > .top-right-two-half-right {
	top: 63px; 
	left: 121px;
	width: 46px;
	border-bottom: 15px solid #805b80;
	transform: rotate(90deg);
}

.container:hover > .top-right-three-half-right {
	border-bottom: 15px solid #805b80;
	top: 72.5px; 
	left: 132px;
	width: 65px;
	transform: rotate(90deg);
}
 */

.container:hover > .middle-right {
  border-radius: 100%;
  border-bottom: 10px solid #805b80;
  top: 100px;
  left: 40px;
  width: 121px;
  transform: rotate(90deg);
}

.container:hover > .bottom-right {
  border-radius: 50%;
  border-bottom: 15px solid #805b80;
  position: absolute;
  top: 155px;
  left: 50px;
  width: 100px;
}

/* CANDLES */

.container:hover > .candle-flame-one {
  display: inline;
  position: absolute;
  top: 32px;
  left: 22px;
}

.container:hover > .candle-flame-two {
  display: inline;
  position: absolute;
  top: 32px;
  left: 44px;
}

.container:hover > .candle-flame-three {
  display: inline;
  position: absolute;
  top: 32px;
  left: 64px;
}

.container:hover > .candle-flame-four {
  display: inline;
  position: absolute;
  top: 32px;
  left: 94px;
}

.container:hover > .candle-flame-five {
  display: inline;
  position: absolute;
  top: 32px;
  left: 124px;
}

.container:hover > .candle-flame-six {
  display: inline;
  position: absolute;
  top: 32px;
  left: 144px;
}

.container:hover > .candle-flame-seven {
  display: inline;
  position: absolute;
  top: 32px;
  left: 164px;
}
